html {
    height: 100%;
}

body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
}
.star-rating{
    text-align: center;
    width:max-content;
    margin:auto;
}
li {
    display: inline;
    list-style-type: none;
}
h1{
    text-align:center;
    color:white;
}
ul{
    text-decoration: none;
    padding:10px;
}
i {
    font-size: 4rem;
    color:white;
}
.gold{
   color:gold;
}
.orange{
    color:orange;
}
img{
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
      0 2px 2px rgba(0,0,0,0.11), 
      0 4px 4px rgba(0,0,0,0.11), 
      0 8px 8px rgba(0,0,0,0.11), 
      0 16px 16px rgba(0,0,0,0.11), 
      0 32px 32px rgba(0,0,0,0.11);
}
.next{
    outline:none;
    border:none;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    width:300px;
    cursor: pointer;
    padding:20px;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
}
.next:hover{
    transition: 0.1s ease all;
    background: linear-gradient(to right, rgba(161, 140, 209, 0.5), rgba(251, 194, 235, 0.5))
}
p{
    font-size:2rem;
}